// Counters
.count-container {
  margin-bottom: 2rem;
}

.count-wrapper {
  font: 800 3.2rem/1 $font-family;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: .7rem;

  span + span {
    font-size: 1.9rem;
  }
}

.count-title {
  color: #7b858a;
  font: 400 1.4rem/1 $font-family;
  margin-bottom: 0;
}

@include mq('lg') {
}